:root {
    --lightGray: #C2C2C2;
    --lightYellow: #ffe696;
    --lighterYellow: #ffe292;
    --blue: #15b5ff;
    --red: #ed144a;
    --darkGray: #121212;

    --player1Color: #C93333;
    --player2Color: #DF844E;
    --player3Color: #D4BC76;
    --player4Color: #B6E376;
    --player5Color: #7FE7DE;
    --player6Color: #7F8EE7;
    --player7Color: #B57FE7;
    --player8Color: #E77FBA;

    --numberOnePlaceColour: #f1d912;
    --numberTwoPlaceColour: #89f5ff;
    --numberThreePlaceColour: #ff9b42;
}

video { position: absolute; left: 0; top: 0; }

#main {
    position: absolute; top: 0; left: 0;
    width: 1920px; height: 1080px;
}

#main-logo {
    position: absolute;
    top: 53px;
    left: 303px;
    background-image: url('../static/logo.png');
    background-size: 100%;
    width: 446px;
    aspect-ratio: 892/79;
}

/* Top Section */
#topSection { position: relative; width: 1920px; height: 152px; }

#mapbox {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 884px;
    height: 152px;
    background-image: url('https://assets.ppy.sh/beatmaps/1843748/covers/cover.jpg');
    clip-path: polygon(38px 0%, 100% 0%, 100% 100%, 0% 100%, 38px 0%);
}

#mapbox-border {
    position: absolute;
    top: 0px;
    right: 846px;
    height: 152px;
    width: 42px;
    background: white;
    clip-path: polygon(38px 0%, 100% 0%, 4px 100%, 0% 100%, 38px 0%);
}

.boxFilter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.71);
}

/* Map Stats */
#mapStatsLeft { 
    position: absolute; 
    top: 26px; 
    left: 78px;
    width: auto;
}
#mapStatsRight {
    position: absolute; 
    top: 21px; 
    right: 0px;
    width: 223px;
    font-family: 'Lexend'; 
    font-weight: 600; 
}
.topLineStatBox {
    width: 100%;
    box-sizing: border-box;
    padding-right: 35px;
    /* display: inline-block; */
    margin-bottom: 2px;
    display: flex;
}

.mapStatsTitle {
    display: inline-block;
    line-height: 21px;
    font-size: 24px;
    color: white;
    flex: 1;
}
.mapStatsNumber {
    font-size: 21px;
    margin-left: auto;
}
#BPMStat .mapStatsNumber { 
    color: #FFE292
}
#SRStat .mapStatsNumber {
    
}
#ODStat .mapStatsNumber {
    color: #7FE7DE;
}
#CSStat .mapStatsNumber {
    color: #B6E376;
}
#ARStat .mapStatsNumber {
    color: #E980BB;
}

#mapModSlot {
    position: absolute; top: 73px; right: 0;
    width: 80px; height: 32px;
    background-color: var(--red);
    color: white;
    font-family: 'Lexend'; font-size: 24px; font-weight: 600; 
    line-height: 31px;
    text-align: center;
}

#mapLength {
    color: #FFE292;
    font-size: 16px;
    font-family: 'Lexend';
    font-weight: 800;
    letter-spacing: 1.2px;
    width: 100%;
}

/* Current Map */

.diffWrapper {
    font-family: 'Lexend';
    text-align: center;
    color: white;
    width: 172px;
    margin-bottom: 10px;
    
}

.wrapperName {
    font-size: 16px;
    letter-spacing: 1.2px;
    font-weight: 300;
}

#currentMapDifficultyWrapper {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 172px;
    text-align: center;
}

#currentMapDifficulty {
    color: #7FE7DE;
    font-size: 16px;
    display: inline-block;
    font-family: 'Lexend';
    font-weight: 800;
    letter-spacing: 1.2px;
    /* width: 100%; */
    
}

.boxTitle {
    font-size: 16px;
    font-family: 'Lexend';
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}


#currentMap {
    position: absolute; 
    left: 249px; 
    top: 34px; 
    width: 400px;
    font-family: 'Lexend'; 
    font-weight: 600; 
    text-align: center;
}
#currentSongArtistandNameWrapper {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 375px; height: 31px;
    font-size: 23px;
    line-height: 23px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 9px
}
#currentSongArtistandName {
    color: white;
    display: inline-block;
	width: max-content;
}

.currentSongDiffName {
    transform: translateX(-171px);
    animation: currentSongDiffName 10s linear infinite;
}

.currentSongArtistandNameWrap {
    transform: translateX(-375px);
    animation: currentSongArtistandNameWrap 15s linear infinite;
}
@keyframes currentSongArtistandNameWrap {
    0% {transform: translateX(0px);}
    11% {transform: translateX(0px);}
    80% { transform: translateX(calc(-100% + 375px)); }
    100% { transform: translateX(calc(-100% + 375px)); }
}

@keyframes currentSongDiffName {
    0% {transform: translateX(0px);}
    11% {transform: translateX(0px);}
    90% { transform: translateX(calc(-100% )); }
    100% { transform: translateX(calc(-100% )); }
}

#currentMapSetCreator {
    position: relative;
    /* color: var(--blue); */
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 800;
    color: #F1D58A;
    width: 100%;
    text-align: center;
    line-height: 17px;
    
}

/* Commentators */
#commentators { font-family: 'Lexend'; font-weight: 600; }
.commentatorName {
    position: absolute; bottom: 8px;
    color: white;
    letter-spacing: 1px;
}
#commentatorName1 { right: 1100px; }
#commentatorName2 { left: 1100px; }

/* Player Containers and Scores */
.sidePlayersContainer {
    position: absolute; bottom: 0;
    width: 260px; height: 204px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#leftSidePlayers { left: 0; }
#rightSidePlayers { right: 0; }
.playerContainer {
    margin-left: 0px; 
    flex-grow: 1;
}
.playerContainerRight {  margin-right: 0px; }
.playerWrapper { 
    position: relative; top: 50%; transform: translateY(-50%);
    height: 42px;
    background-image: url(../static/player_logo.png);
    background-repeat: no-repeat;
    background-size: 46%;
    background-position: -15px -30px;
    box-sizing: border-box;
    padding: 5px 19px;
    text-align: right;
}
.playerName { 
    font-family: 'Lexend'; 
    font-weight: 800; 
    font-size: 15px;
    width: 100%; 
    height: 16px;
}
.playerScore {
    font-family: 'Lexend'; font-weight: 300; font-size: 14px;
    color: black;
    letter-spacing: 1px;
    width: 100%; 
}
.playerRank {
    font-family: 'Lexend';
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 0;
    left: 15px;
    text-transform: uppercase;
    font-weight: 800;
}

.playerDetailsRight { text-align: right; }
.floatRight { float: right; }

/* Score Progress */
#scoreProgress {
    position: absolute; bottom: 0; left: 300px;
    width: 1350px;  height: 205px;
    transition: 500ms ease-in-out;
}
/* Bars */
#lowerBars {
    position: absolute; left: 74px; bottom: 69px;
    width: 1171px; height: 13px;
}
.playerBar {
    position: absolute; top: 0; left: 0;
    height: inherit;
    transition: 200ms ease-in-out;
}
.grayBar {
    width: inherit;
    background-color: gray;
}
/* Profile */
.avatar {
    position: absolute; top: 17px; left: 33px;
    width: 83px; height: 92px;
    transition: 200ms ease-in-out;
}
.profilePicture {
    position: absolute; top: 0; left: 0;
    width: 78px; height: 78px;
    border: 3px solid;
    background-color: black;
    background-size: cover;
}
.profilePictureBottomRightBorder {
    position: absolute; right: -18px; bottom: -7px;
    width: 0px; height: 0px;
    border: 18px solid;
    transform: rotate(45deg)
}
.triangle {
    position: absolute; bottom: 0; left: 50%; transform: translateX(-50%) rotate(45deg);
    width: 18px; height: 18px;
}
/* Bottom Scores */
#bottomScoreZero {
    position: absolute; top: 141px; left: 74px;
    font-family: 'IBM Plex Mono', monospace; font-size: 32px;
    color: white;
}
#bottomScoreMax {
    position: absolute; top: 143px; left: 1245px; transform: translateX(-50%);
    font-family: 'IBM Plex Mono', monospace; font-size: 25px;
    color: var(--lighterYellow);
    letter-spacing: 1.5px;
}
/* Crown */
#bottomCrown {
    position: absolute; top: 120px; left: 1263px;
    width: 32px; height: 19px;
    transition: 0.2s ease-in-out;
}
#bottomCrownOverlay {
    position: absolute; top: 114px; left: 1257.55px; 
    width: 43.5px; height: 31px;
    transition: 0.2s ease-in-out;
}

/* Chat */
#chatDisplay {
    position: absolute; bottom: 42px; left: 50%; transform: translateX(-50%);
    width: 700px; height: 145px;
    background-color: rgba(0,0,0,0.5);
    overflow-x: hidden; overflow-y: scroll;
    padding: 5px 12px;
    transition: ease-in-out 500ms;
    font-family: 'Lexend'; font-weight: 600px;
    transition: 500ms ease-in-out;
}
.messageWrapper {
	display: flex;
	text-align: left;
}
.messageTime {
	width: 10%;
	color: silver;
	padding-right: 10px;
    text-align: center;
}
.wholeMessage {
	display: flex;
}
.messageUser {
	color: white;
	white-space: nowrap;
    font-weight: 800px;
}
.messageText {
    color: white;
	white-space: normal;
	word-wrap: break-word;
	overflow: hidden;
}
/* Colours Taken From https://github.com/VictimCrasher/static/tree/master/WaveTournament */
.unknown { color: yellow; }
.bot { color: #FF66AA; }
.left { color: var(--red); }
.right { color: var(--blue); }

/* ::-webkit-scrollbar {  display: none; } */

/* Control Panel */
#controlPanel {
    position: absolute; left: 0; top: 1080px;
    width: 1920px; height: 300px;
    background-color: #121212;
}
.controlPanelItems { 
    position: absolute;
}
#controlPanelTitle {
    position: absolute; top: 20px;
    font-family: Lexend; font-weight: 800; font-size: 24px;
    width: inherit;
    text-align: center;
    color: white;
}
/* Commentators */
#controlPanelCommentators {
    width: 325px;
}
.controlPanelText {
    position: absolute; top: 20px;
    font-family: Lexend; font-weight: 800; font-size: 20px;
    width: inherit;
    text-align: center;
    color: white;
    font-weight: 600;
}
#commentatorNameInput1 { top: 115px; left: 60px; }
#commentatorNameInput2 { top: 155px; left: 60px; }
.controlPanelInput {
    border-radius: 20px;
    text-align: center;
    font-family: Lexend; font-weight: 400; font-size: 20px;
    width: 200px;
}
#changeCommentatorNames {
    background-color: transparent;
    border: 5px solid white; border-radius: 25px;
    color: white;
    top: 200px;
    left: 62px;
    font-family: Lexend; font-weight: 400; font-size: 18px;
    width: 200px;
    padding: 5px 20px;
}
#changeCommentatorNames:active {
    background-color: white;
    border: 5px solid white;
    color: black;
}

::-webkit-scrollbar {
    display: none;
}